 .u-section-1 {
  min-height: 862px;
}

.u-section-1 .u-image-1 {
  object-position: 100% 100%;
  height: 812px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-group-1 {
  width: 654px;
  min-height: 334px;
  height: auto;
  margin: -762px calc(((100% - 1140px) / 2) + 222px) 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 4.375rem;
  font-weight: 700;
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  margin: 38px 74px 0 49px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-style: normal;
  margin: 19px auto 0 195px;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1rem;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  align-self: center;
  margin: 30px auto 0 195px;
  padding: 13px 59px 15px;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  grid-auto-rows: 100%;
  width: 1140px;
  margin: 168px auto 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 15px));
  min-height: 194px;
  grid-gap: 20px;
}

.u-section-1 .u-list-item-1 {
  transition-duration: 1s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 90px;
  width: 90px;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-1 .u-list-item-2 {
  transition-duration: 1s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 90px;
  width: 90px;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-1 .u-list-item-3 {
  transition-duration: 1s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 90px;
  width: 90px;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-1 .u-list-item-4 {
  transition-duration: 1s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-icon-4 {
  height: 90px;
  width: 90px;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    margin-top: -759px;
    margin-right: calc(((100% - 940px) / 2) + 120px);
    height: auto;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
    margin-top: 156px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(25% - 15px) calc(25% - 15px) calc(25% - 15px) calc(25% - 15px);
    min-height: 199px;
    grid-gap: 20px 20px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1040px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -770px;
    margin-right: calc(((100% - 720px) / 2) + 13px);
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 427px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
    margin-top: -782px;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: 298px;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 22px;
    margin-left: 161px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 161px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
    margin-top: 173px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1036px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: -770px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 23px;
    margin-right: 33px;
    margin-left: 9px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 14px;
    margin-left: 47px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 33px;
    margin-left: auto;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 423px;
  }

  .u-section-1 .u-icon-1 {
    height: 72px;
    width: 72px;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 43px;
  }

  .u-section-1 .u-icon-2 {
    height: 72px;
    width: 72px;
  }

  .u-section-1 .u-text-4 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 43px;
  }

  .u-section-1 .u-icon-3 {
    height: 72px;
    width: 72px;
  }

  .u-section-1 .u-text-5 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 43px;
  }

  .u-section-1 .u-icon-4 {
    height: 72px;
    width: 72px;
  }

  .u-section-1 .u-text-6 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 43px;
  }
}

.u-section-1 .u-list-item-1,
.u-section-1 .u-list-item-1:before,
.u-section-1 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-list-item-1.u-list-item-1.u-list-item-1:hover {
  transform: scale(1.2) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-list-item-1.u-list-item-1.u-list-item-1.hover {
  transform: scale(1.2) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-list-item-2,
.u-section-1 .u-list-item-2:before,
.u-section-1 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
  transform: scale(1.2) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-list-item-2.u-list-item-2.u-list-item-2.hover {
  transform: scale(1.2) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-list-item-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-list-item-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-list-item-3,
.u-section-1 .u-list-item-3:before,
.u-section-1 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-list-item-3.u-list-item-3.u-list-item-3:hover {
  transform: scale(1.2) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-list-item-3.u-list-item-3.u-list-item-3.hover {
  transform: scale(1.2) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-list-item-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-list-item-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-list-item-4,
.u-section-1 .u-list-item-4:before,
.u-section-1 .u-list-item-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-list-item-4.u-list-item-4.u-list-item-4:hover {
  transform: scale(1.2) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-list-item-4.u-list-item-4.u-list-item-4.hover {
  transform: scale(1.2) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-list-item-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-list-item-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  min-height: 1415px;
}

.u-section-2 .u-group-1 {
  width: 772px;
  min-height: 389px;
  margin: 110px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-2 .u-container-layout-1 {
  padding-bottom: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: bold;
  font-size: 4.0625rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  font-weight: normal;
  line-height: 1.7999999999999998;
  margin: 17px 0 0;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  border-style: solid;
  font-weight: 700;
  background-image: none;
  margin: 39px auto 0 0;
  padding: 16px 48px 16px 47px;
}

.u-section-2 .u-shape-1 {
  width: 294px;
  height: 294px;
  background-image: none;
  margin: 511px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-2 .u-image-1 {
  width: 675px;
  height: 675px;
  background-image: url("images/modelosalacarta-3-684x1024.jpg.webp");
  background-position: 50% 50%;
  margin: -746px calc(((100% - 1140px) / 2) + 69px) 0 auto;
}

.u-section-2 .u-image-2 {
  width: 276px;
  height: 276px;
  background-image: url("images/modelosalacarta-1-812x1024.jpg");
  background-position: 50% 50%;
  margin: -640px auto 0 calc(((100% - 1140px) / 2) + 50px);
}

.u-section-2 .u-image-3 {
  width: 389px;
  height: 389px;
  background-image: url("images/las_mejores_agencias_de_escorts_a_domicilio_en_madrid_1199_600.jpg");
  background-position: 50% 50%;
  margin: 47px auto 0 calc(((100% - 1140px) / 2) + 136px);
}

.u-section-2 .u-shape-2 {
  width: 119px;
  height: 119px;
  margin: -419px auto 60px calc(((100% - 1140px) / 2));
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 1399px;
  }

  .u-section-2 .u-group-1 {
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-2 .u-text-1 {
    font-weight: 700;
  }

  .u-section-2 .u-text-2 {
    font-weight: 400;
    line-height: 32.4px;
  }

  .u-section-2 .u-btn-1 {
    padding: 13px 59px 15px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 535px;
    margin-right: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-2 .u-image-1 {
    width: 644px;
    height: 644px;
    margin-right: calc(((100% - 1140px) / 2) + 139px);
  }

  .u-section-2 .u-image-2 {
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-2 .u-image-3 {
    margin-left: calc(((100% - 1140px) / 2) + 219px);
  }

  .u-section-2 .u-shape-2 {
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1344px;
  }

  .u-section-2 .u-group-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-2 .u-btn-1 {
    margin-top: 30px;
  }

  .u-section-2 .u-shape-1 {
    width: 265px;
    height: 265px;
    margin-top: 777px;
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-right: calc(((100% - 1140px) / 2) + 249px);
  }

  .u-section-2 .u-image-2 {
    width: 245px;
    height: 245px;
    margin-left: calc(((100% - 1140px) / 2) + 227px);
  }

  .u-section-2 .u-image-3 {
    width: 331px;
    height: 331px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-2 .u-shape-2 {
    width: 99px;
    height: 99px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1345px;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-2 .u-shape-1 {
    width: 223px;
    height: 223px;
    margin-top: 887px;
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-2 .u-image-1 {
    width: 453px;
    height: 453px;
    margin-right: calc(((100% - 1140px) / 2) + 324px);
  }

  .u-section-2 .u-image-2 {
    width: 187px;
    height: 187px;
    margin-top: -505px;
    margin-left: calc(((100% - 1140px) / 2) + 317px);
  }

  .u-section-2 .u-image-3 {
    width: 282px;
    height: 282px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-2 .u-shape-2 {
    width: 90px;
    height: 90px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1368px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-shape-1 {
    width: 156px;
    height: 156px;
    margin-top: 918px;
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-2 .u-image-1 {
    width: 291px;
    height: 291px;
    margin-right: calc(((100% - 1140px) / 2) + 417px);
  }

  .u-section-2 .u-image-2 {
    margin-top: -305px;
    margin-left: calc(((100% - 1140px) / 2) + 417px);
  }

  .u-section-2 .u-image-3 {
    width: 231px;
    height: 231px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-2 .u-shape-2 {
    margin-top: -370px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }
} .u-section-3 {
  background-image: url("images/mesh-757.png");
}

.u-section-3 .u-sheet-1 {
  min-height: 655px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-3 .u-form-1 {
  width: 570px;
  margin: 30px auto 0;
}

.u-section-3 .u-input-1 {
  text-transform: uppercase;
}

.u-section-3 .u-input-2 {
  text-transform: uppercase;
}

.u-section-3 .u-input-3 {
  text-transform: uppercase;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-weight: 700;
  margin: -64px auto 60px 464px;
  padding: 10px 38px 10px 36px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 566px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: -62px;
    margin-left: 367px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 563px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: -60px;
    margin-bottom: 58px;
    margin-left: 256px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 564px;
  }

  .u-section-3 .u-form-1 {
    width: 540px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: -62px;
    margin-bottom: 60px;
    margin-left: 171px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 520px;
  }

  .u-section-3 .u-form-1 {
    width: 340px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: -61px;
    margin-right: 16px;
    margin-left: auto;
  }
} .u-section-4 {
  background-image: none;
  min-height: 1593px;
}

.u-section-4 .u-group-1 {
  min-height: 536px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 80px 0 30px;
}

.u-section-4 .u-text-1 {
  font-size: 4.0625rem;
  margin: 0 216px;
}

.u-section-4 .u-gallery-1 {
  height: 1126px;
  width: 1140px;
  grid-gap: 17px;
  margin: -329px auto 0;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 0.875rem;
  background-image: none;
  border-style: solid;
  margin: 55px auto 60px;
  padding: 20px 72px 21px 71px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 1396px;
  }

  .u-section-4 .u-group-1 {
    min-height: 698px;
    height: auto;
  }

  .u-section-4 .u-text-1 {
    margin-left: 116px;
    margin-right: 116px;
    font-size: 3.75rem;
  }

  .u-section-4 .u-gallery-1 {
    height: 929px;
    width: 940px;
    margin-top: -491px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 2271px;
  }

  .u-section-4 .u-group-1 {
    min-height: 770px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 70px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-gallery-1 {
    height: 1804px;
    width: 720px;
    margin-top: -563px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 5404px;
  }

  .u-section-4 .u-group-1 {
    min-height: 1061px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 90px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-left: 49px;
    margin-right: 49px;
  }

  .u-section-4 .u-gallery-1 {
    height: 4937px;
    width: 540px;
    margin-top: -854px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 3563px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 60px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 70px;
  }

  .u-section-4 .u-gallery-1 {
    height: 3159px;
    width: 340px;
    margin-top: -903px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 49px;
    margin-bottom: -3px;
  }
}.u-block-b6c6-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-b6c6-3 {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
}

.u-block-b6c6-4 {
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
}

.u-section-5-1 .u-sheet-1 {
  min-height: 480px;
}

.u-section-5-1 .u-layout-wrap-1 {
  width: 968px;
  margin: 107px auto 0;
}

.u-section-5-1 .u-layout-cell-1 {
  min-height: 293px;
}

.u-section-5-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5-1 .u-image-1 {
  width: 150px;
  height: 150px;
  object-position: 50% 22%;
  margin: 0 auto;
}

.u-section-5-1 .u-layout-cell-2 {
  min-height: 293px;
}

.u-section-5-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5-1 .u-text-1 {
  line-height: 1.8;
  font-style: normal;
  margin: 0;
}

.u-section-5-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-5-1 .u-text-3 {
  font-size: 0.625rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 472px;
  }

  .u-section-5-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5-1 .u-layout-cell-1 {
    min-height: 285px;
  }

  .u-section-5-1 .u-layout-cell-2 {
    min-height: 285px;
  }
}

@media (max-width: 991px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 463px;
  }

  .u-section-5-1 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 54px;
    margin-bottom: 54px;
  }

  .u-section-5-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5-1 .u-image-1 {
    width: 132px;
    height: 132px;
  }

  .u-section-5-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 387px;
  }

  .u-section-5-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5-1 .u-layout-wrap-1 {
    width: 340px;
  }
}

.u-section-5-2 .u-sheet-1 {
  min-height: 480px;
}

.u-section-5-2 .u-layout-wrap-1 {
  width: 968px;
  margin: 107px auto 0;
}

.u-section-5-2 .u-layout-cell-1 {
  min-height: 293px;
}

.u-section-5-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5-2 .u-image-1 {
  width: 150px;
  height: 150px;
  object-position: 50% 22%;
  margin: 0 auto;
}

.u-section-5-2 .u-layout-cell-2 {
  min-height: 293px;
}

.u-section-5-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5-2 .u-text-1 {
  line-height: 1.8;
  font-style: normal;
  margin: 0;
}

.u-section-5-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-5-2 .u-text-3 {
  font-size: 0.625rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5-2 .u-sheet-1 {
    min-height: 472px;
  }

  .u-section-5-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5-2 .u-layout-cell-1 {
    min-height: 285px;
  }

  .u-section-5-2 .u-layout-cell-2 {
    min-height: 285px;
  }
}

@media (max-width: 991px) {
  .u-section-5-2 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 58px;
    margin-bottom: 58px;
  }

  .u-section-5-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5-2 .u-image-1 {
    width: 132px;
    height: 132px;
  }

  .u-section-5-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5-2 .u-layout-wrap-1 {
    width: 340px;
  }
}

.u-section-5-3 .u-sheet-1 {
  min-height: 480px;
}

.u-section-5-3 .u-layout-wrap-1 {
  width: 968px;
  margin: 107px auto 0;
}

.u-section-5-3 .u-layout-cell-1 {
  min-height: 293px;
}

.u-section-5-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5-3 .u-image-1 {
  width: 150px;
  height: 150px;
  object-position: 50% 22%;
  margin: 0 auto;
}

.u-section-5-3 .u-layout-cell-2 {
  min-height: 293px;
}

.u-section-5-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5-3 .u-text-1 {
  line-height: 1.8;
  font-style: normal;
  margin: 0;
}

.u-section-5-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-5-3 .u-text-3 {
  font-size: 0.625rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5-3 .u-sheet-1 {
    min-height: 472px;
  }

  .u-section-5-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5-3 .u-layout-cell-1 {
    min-height: 285px;
  }

  .u-section-5-3 .u-layout-cell-2 {
    min-height: 285px;
  }
}

@media (max-width: 991px) {
  .u-section-5-3 .u-sheet-1 {
    min-height: 463px;
  }

  .u-section-5-3 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 54px;
    margin-bottom: 54px;
  }

  .u-section-5-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5-3 .u-image-1 {
    width: 132px;
    height: 132px;
  }

  .u-section-5-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5-3 .u-sheet-1 {
    min-height: 387px;
  }

  .u-section-5-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5-3 .u-sheet-1 {
    min-height: 740px;
  }

  .u-section-5-3 .u-layout-wrap-1 {
    width: 340px;
    margin-bottom: 30px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 169px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: -312px;
}

.u-section-6 .u-image-1 {
  min-height: 178px;
  background-image: url("images/2560px-Chaturbate_logo.svg.png");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-2 {
  min-height: 178px;
  background-image: url("images/1280px-Stripchat-logo.svg.png");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-image-3 {
  min-height: 178px;
  background-image: url("images/Camsoda.png");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-image-4 {
  min-height: 178px;
  background-image: url("images/1280px-OnlyFans_text.svg.png");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-image-5 {
  min-height: 178px;
  background-image: url("images/Pornhub-Logo.png");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 655px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 690px;
  }

  .u-section-6 .u-image-1 {
    min-height: 147px;
  }

  .u-section-6 .u-image-2 {
    min-height: 147px;
  }

  .u-section-6 .u-image-3 {
    min-height: 147px;
  }

  .u-section-6 .u-image-4 {
    min-height: 147px;
  }

  .u-section-6 .u-image-5 {
    min-height: 147px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 447px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 30px;
    margin-bottom: 60px;
  }

  .u-section-6 .u-image-1 {
    min-height: 116px;
  }

  .u-section-6 .u-image-2 {
    min-height: 116px;
  }

  .u-section-6 .u-image-3 {
    min-height: 116px;
  }

  .u-section-6 .u-image-4 {
    min-height: 116px;
  }

  .u-section-6 .u-image-5 {
    min-height: 125px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 476px;
  }

  .u-section-6 .u-image-1 {
    min-height: 143px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    min-height: 143px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-3 {
    min-height: 112px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-4 {
    min-height: 112px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-5 {
    min-height: 106px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-6 .u-image-1 {
    min-height: 105px;
  }

  .u-section-6 .u-image-2 {
    min-height: 105px;
  }

  .u-section-6 .u-image-3 {
    min-height: 117px;
  }

  .u-section-6 .u-image-4 {
    min-height: 121px;
  }

  .u-section-6 .u-image-5 {
    min-height: 144px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 767px;
}

.u-section-7 .u-layout-wrap-1 {
  width: 635px;
  margin: 75px auto 29px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 534px;
}

.u-section-7 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-7 .u-shape-1 {
  background-image: none;
  height: 180px;
  margin: 174px auto 0 0;
}

.u-section-7 .u-image-1 {
  height: 523px;
  width: 327px;
  margin: -331px auto 0 124px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 392px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  font-size: 3.75rem;
  width: 451px;
  font-weight: 700;
  text-transform: none;
  margin: 0 auto;
}

.u-section-7 .u-text-2 {
  font-style: normal;
  line-height: 1.8;
  text-transform: none;
  margin: 15px 0 0;
}

.u-section-7 .u-link-1 {
  border-style: solid;
  padding-bottom: 2px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 33px auto 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 583px;
  }

  .u-section-7 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-2 {
    font-weight: 500;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-layout-cell-1 {
    min-height: 485px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 377px;
  }

  .u-section-7 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 439px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    margin-left: auto;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 245px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 297px;
  }

  .u-section-7 .u-shape-1 {
    margin-top: 47px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-1 {
    width: 187px;
    height: auto;
    margin: initial;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 364px;
  }

  .u-section-7 .u-text-1 {
    width: 320px;
  }
} .u-section-8 {
  background-image: url("images/mesh-757.png");
}

.u-section-8 .u-sheet-1 {
  min-height: 724px;
}

.u-section-8 .u-group-1 {
  min-height: 528px;
  width: 453px;
  background-image: none;
  margin: 60px auto;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 29px;
}

.u-section-8 .u-text-1 {
  text-transform: none;
  font-size: 3rem;
  font-weight: 700;
  text-align: left;
  margin: 0 auto;
}

.u-section-8 .u-social-icons-1 {
  height: 31px;
  min-height: 16px;
  width: 197px;
  min-width: 120px;
  white-space: nowrap;
  text-align: left;
  margin: 28px auto 0;
}

.u-section-8 .u-icon-1 {
  height: 100%;
}

.u-section-8 .u-icon-2 {
  height: 100%;
}

.u-section-8 .u-icon-3 {
  height: 100%;
}

.u-section-8 .u-form-1 {
  height: 280px;
  width: 379px;
  margin: 28px auto 0;
}

.u-section-8 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  width: 100%;
}

@media (max-width: 1199px) {
   .u-section-8 {
    background-position: 50% 50%;
  }

  .u-section-8 .u-sheet-1 {
    min-height: 597px;
  }

  .u-section-8 .u-social-icons-1 {
    width: 113px;
    min-width: 68px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 588px;
  }

  .u-section-8 .u-group-1 {
    min-height: 486px;
    margin-bottom: 42px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 47px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 441px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 278px;
  }

  .u-section-8 .u-group-1 {
    width: 340px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-form-1 {
    width: 320px;
  }
}